.scw-dummy-image {
  position: relative; }
  .scw-dummy-image:before {
    content: '';
    display: block; }
  .scw-dummy-image:after {
    font: 20px/1 Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.scw-header {
  position: relative; }
  .scw-header::after {
    background-size: contain;
    content: '';
    display: block;
    position: absolute; }

.scw-dummy-image {
  background: #438ccb; }
  .scw-dummy-image:before {
    padding-bottom: 100%; }
  .scw-dummy-image:after {
    content: "FPO";
    color: #fff; }

.scw {
  background-color: #252525;
  color: #fff;
  font: 21.3333333333px Helvetica; }

.scw-header {
  margin: 0 auto;
  max-width: 50vw; }
  .scw-header:after {
    left: 0;
    top: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="850.391" height="850.39" viewBox="0 0 850.391 850.39"><path fill-rule="evenodd" clip-rule="evenodd" fill="#ffae00" d="M376.926 246.434s-1.506 4.437-5.04 8.075c-5.18 5.33-13.026 10.52-13.026 10.52s-1.47 4.622-3.88 9.03c-3.592 6.573-8.606 13.818-8.606 13.818l-1.594 15.143s7.812 5.465 18.26 10.728c6.532 3.29 17.605 7.34 17.605 7.34s13.792 6.853 27.904 19.08c16.514 14.31 33.73 34.318 33.73 34.318s52.055 21.994 72.798 35.695c11.855 7.83 14.342 13.19 14.342 13.19s47.45 31.655 43.012 43.706c-2.305 6.256-9.804 7.833-9.804 7.833s-.486 4.75-4.022 7.178c-3.224 2.213-9.526 2.12-9.526 2.12s-.913 1.88-2.505 3.403c-1.46 1.396-3.605 2.442-3.605 2.442l18.598 24.973s1.146 2.48 5.123 4.963c3.42 2.14 9.755 4.335 9.755 4.335s45.195 24.28 84.487 38.918c22.36 8.33 48.878 10.764 48.878 10.764l-3.984 4.516s4.272 1.988 8.22 2.94c7.776 1.878 19.114 3.7 27.804 6.122 3.768 1.05 12.594 4.486 12.594 4.486s-2.248 2.188-6.318 3.18c-6.68 1.633-16.53 2.4-16.53 2.4s3.204 3.26 7.984 4.266c5.888 1.24 18.49 2.068 26.188 3.17 10.903 1.56 16.306 3.19 16.306 3.19s1.46 2.838-4.73 3.688c-12.04 1.652-35.916 1.892-35.916 1.892s22.637 6.63 22.552 7.992c-.272 4.328-15.587 8.732-15.587 8.732s13.45 4.164 12.49 7.25c-.727 2.332-13.866 3.28-13.866 3.28s-20.044 4.028-39.02 1.9c-7.268-.814-52.372-18.192-88.035-32.905-20.474-8.447-40.327-16.973-40.327-16.973s-22.305 3.69-41.36 3.54c-13.622-.108-25.854-4.07-25.854-4.07s-9.738-3.608-14.89-2.048c-7.392 2.24 5.326 18.52 5.326 18.52s-2.06 1.143-5.197.43c-2.67-.607-6.492-3.087-6.492-3.087l-1.86 8.767s-2.294-3.627-3.755-1.5c-1.46 2.124-2.09 10.002-2.09 10.002s-2.752-1.447-7.762-1.742c-3.874-.23-10.303.68-10.303.68s-8.263.996-16.87-1.81c-9.298-3.03-18.995-9.88-18.995-9.88s-1.16.632-1.82 2.793c-.79 2.583-1.102 6.77-1.102 6.77s-.306 6.58-7.43 4.357c-6.682-2.084-16.214-11.264-16.214-11.264s-7.112 7.912-11.586 17.787c-3.895 8.594-6.67 23.362-6.97 24.79-.907 4.317-.96 9.683-2.573 13.843-1.313 3.387-4.375 3.62-4.375 3.62s6.252.118 12.697-3.298c3.937-2.088 9.353-8.39 9.353-8.39s9.093-11.046 15.925-12.736c4.455-1.103 7.505 3.508 8.38 9.392.782 5.278-.396 11.846-.396 11.846s-1.045-2.334-2.62-4.223c-.77-.924-2.693-2.155-2.693-2.155s-.63 6.017-3.247 8.996c-2.11 2.405-6.318 1.897-6.318 1.897s-5.772 9.803-14.963 13.47c-12.065 4.81-28.34 3.798-28.34 3.798s-7.803 1.262-14.227 3.377c-2.847.938-7.56 3.797-7.56 3.797s-2.793 5.567-14.502 8.887c-14.242 4.036-20.034.41-20.034.41s-3.792-1.37-7.36-.75c-1.438.25-4.862 2.876-4.862 2.876s-2.838 2.716-6.03 2.852c-3.048.13-6.456-2.32-6.456-2.32s-.93 2.52-2.235 2.955c-1.058.353-2.547-1.36-2.547-1.36s-1.97 1.737-3.16 4.24c-1.328 2.795-1.888 6.386-1.888 6.386s-1.22 2.285-3.817 1.926c-1.05-.146-8.067-2.042 2.63-19.468 3.536-5.76 10.75-10.62 10.75-10.62s.722-4.482 4.737-6.733c3.99-2.234 8.282-2.297 8.282-2.297s1.282-1.182 4.267-1.258c1.99-.05 6.095.992 6.095.992s2.61.662 5.196.035c1.448-.352 3.572-2.16 3.572-2.16l5.048-2.126s-1.863-3.368-2.095-8.48c-.145-3.18 1.298-9.054 1.298-9.054s-.93-3.446-.332-5.104c.6-1.663 2.724-1.538 2.724-1.538s.755-5.965 2.672-5.884c4.294.183 3.704 8.807 3.704 8.807s1.93 2.806 3.337 6.403c.81 2.065 1.445 5.817 1.445 5.817s6.502-7.302 12.214-14.197c3.27-3.95 5.428-6.01 8.122-10.938 3.803-6.96 4.637-20.56 4.637-20.56s-2.897 6.247-10.12 5.897c-6.41-.312-17.244-7.227-17.244-7.227s-6.113-4.957-17.39-9.394c-8.935-3.515-22.296-6.12-30.065-9.767-6.816-3.2-13.116-9.267-13.116-9.267s-2.584 5.702-4 12.933c-.756 3.87-.783 11.51-.783 11.51s.44 6.87-1.447 13.26c-1.527 5.167-5.46 10.118-5.46 10.118s7.322 3.826 10.09 9.523c2.174 4.468.005 9.605.005 9.605s-3.443-7.736-9.36-10.617c-3.546-1.726-10.83.788-10.83.788s3.567 6.842-.69 10.07c-3.333 2.53-14.72 1.62-14.72 1.62s-32.123-.93-50.875-1.25c-2.618-.047-6.573.724-8.473.67-3.24-.093-6.272-1.28-6.272-1.28s-3.98 2.494-7.9 2.273c-2.996-.17-6.18-3.07-6.18-3.07s-3.846 3.374-8.047 3.763c-2.53.234-6.3-2.434-6.3-2.434s-4.408 1.055-8.185.66c-1.97-.204-4.567-1.99-4.567-1.99s-1.945.93-2.71 3.993c-1.05 4.195-1.01 10.885-1.01 10.885s-2.178-.878-3.31-4.333c-1.48-4.507-2.002-11.872-2.002-11.872s-2.082-1.947-5.824-3.37c-2.74-1.04-7.46-1.678-7.46-1.678s-2.55-.528-5.36.253c-1.648.457-4.204 2.404-4.204 2.404s-4.884 1.7-7.362.658c-2.568-1.08-2.733-4.91-2.733-4.91s-6.674 1.714-10.5 7.526c-2.972 4.516-3.313 13.462-3.313 13.462s-5.345-5.87-1.698-17.21c3.295-10.25 17.637-17.06 17.637-17.06s5.444-2.966 12.353-2.652c3.775.172 11.026 3.714 11.026 3.714s6.642 3.612 12.334 5.304c2.18.648 7.325.54 7.325.54l4.517-1.858s2.478-1.56 7.453-1.182c3.544.268 10.08 2.51 10.08 2.51s2.708.287 7.165-1.125c3.354-1.063 8.777-3.925 8.777-3.925s5.805-3.738 16.353-5.457c6.118-.997 19.513-.387 19.513-.387s11.788.12 18.517-4.136c2.667-1.685 4.596-10.475 4.596-10.475l-1.86-15.94s-27.51-5.48-56.55-44.06c-24.43-32.456-35.105-85.986-35.105-85.986s-6.17-26.433 1.326-48.14c7.84-22.704 29.36-40.726 29.36-40.726s3.532-30.948 4.707-51.972c.517-9.26-.723-19.36-.723-19.36s-.468-18.7 4.555-40.67c2.55-11.155 22.89-71.22 40.277-97.005 10.293-15.265 32.876-32.883 32.876-32.883s18.646-14.46 46.39-19.716c37.786-7.156 68.485 8.217 78.382 17.463 9.393 8.773 5.54 22.18 5.54 22.18s17.882 13.964 19.668 54.552c1.126 25.616-14.09 43.876-14.09 43.876l-4.922-18.326z"/></svg>') center/cover;
    width: 100px;
    height: 100px; }
  .scw-header__logo {
    display: block;
    width: 100%; }

.scw-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 90%; }
  .scw-container__item {
    width: 20%; }

.scw-body {
  display: flex;
  margin: 0 auto;
  width: 90%; }
  .scw-body__item--text {
    width: 50%; }
  .scw-body__item--image {
    width: 40%;
    margin-left: 10%; }

.scw-banner-text {
  font-size: 48px;
  text-transform: uppercase; }
